/* header */
.headerdiv {
  display: flex;
  justify-content: space-between;
}

.menu-button {

}

.hamburger {
  
}

/* home page */
.main-content {
  display:flex;
  justify-content: space-around;
}

#image-three-cards {
  max-width: 500px;
  max-height: 500px;
}

#home-page-text {
  max-width: 500px;
  max-height: 500px;
}

/* player page */

.card_content {
  position: relative;
  text-align: center;
  height:fit-content;
  width: fit-content;
}

.card_number {
  position: absolute;
  font-size: 40px;
  max-width: 55px;
  max-height: 55px;
  margin: 0px;
  padding: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.card_image {
  /* object-fit: contain; */
}

.cards_container {
  display: flex !important;
}

.red_card {
  /* object-fit: contain; */
  /* background-color: red; */
  display:flex;
  padding:1px;
}

.blue_card {
  /* background-color: blue; */
  display:flex;
  padding:1px;
}

.playerBoard {
  display: flex;
  justify-content: space-between;
}

.player1 {
  /* flex: 1; */
  width:50%;
}

.player2 {
  width: 50%;
}