.headerdiv {
  display: flex;
  justify-content: space-between;
}

.main-content {
  display:flex;
  justify-content: space-around;
}

#image-three-cards {
  max-width: 500px;
  max-height: 500px;
}

#home-page-text {
  max-width: 500px;
  max-height: 500px;
}

.card_content {
  position: relative;
  text-align: center;
  height:fit-content;
  width: fit-content;
}

.card_number {
  position: absolute;
  font-size: 40px;
  max-width: 55px;
  max-height: 55px;
  margin: 0px;
  padding: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.cards_container {
  display: flex;

}

.red_card .blue_card {
  
}

.menu-button {

}

.hamburger {
  
}

.playerBoard {
  display: flex;
}

.player1 {
  flex: 1;
}

/* #player-name {
  border-radius: 20px;
background: #1C2C3B;
width: 300px;
height: 60px;
color: #FFF;
font-size: 25px;
font-style: normal;
font-weight: 300;
line-height: normal;
position: center;
} */


.turn-indicator {
  background-color: #1C2C3B;
  color: #fff;
  text-align: center;
  border-radius: 20px; 
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 auto; 
  min-width: 60px; 
  max-width: 35%; 
}
